<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Simple Reporter Suite">
   <listeners>
      <listener class-name = "com.amz.qa.util.WebEventListener" />
   </listeners>

   <test name = "amazon testing report">
      <classes>
         <class name = "com.amz.qa.testcases.LoginPageTest" />
      </classes>
   </test>
</suite>
